/* Reusables */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	scroll-behavior: smooth;
}

.heading__border {
	content: "";
	width: 20px;
	height: 2px;
}

/* Menu Bar */
.bar1,
.bar2,
.bar3 {
	width: 19px;
	height: 2px;
	background-color: #000;
	margin: 5px 0;
	transition: 0.4s;
	position: relative;
}

/* Rotate first bar */
.change .bar1 {
	transform: rotate(45deg);
	top: 7px;
}

/* Fade out the second bar */
.change .bar2 {
	opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
	transform: rotate(135deg);
	top: -7px;
}

.menu__bar {
	font-size: 1.3rem;
	cursor: pointer;
	margin-left: 1rem;
}

/* Services Section */
.card__container:hover {
	background-image: url(../images/service-bg.jpg);
	background-size: cover;
	background-position: top right;
	transition: all 0.5s ease;
	color: #fff;
	cursor: pointer;
}
.card__container:hover h2,
.card__container:hover p,
.card__container:hover a {
	color: #fff;
}
.card__container:hover .card__icon {
	display: none;
}
.card__container:hover .card__icon__hover {
	display: flex;
}

/* About Section */
.about__btn {
	background: linear-gradient(
		105deg,
		rgba(91, 104, 235, 1) 0%,
		rgba(40, 225, 253, 1) 100%
	);
	background-size: 200%;
	transition: all 0.5s ease;
}
.about__btn:hover {
	background-position: right center;
}
.ratings:hover p {
	color: blue;
}
.ratings:hover span {
	color: blue;
}
.quote__card {
	background-image: url(../images/client-bg.png);
	background-size: cover;
	transition: all 0.3s ease;
}
.quote__card:hover {
	background-position: center;
}

.mailing {
	background-image: url(../images/footer-bg.png);
	background-size: cover;
	background-position: bottom;
}
@media screen and (min-width: 768px) {
	.mailing {
		background-position: top top;
		background-repeat: no-repeat;
	}
}

.rot-90 {
	transition: all 0.5s ease;
}
.rot-90:hover {
	transform: translateY(-20px);
	cursor: pointer;
}

.p-card {
	transition: all 0.5s ease;
	transform: scale(0.95);
}
.p-card:hover {
	transform: scale(1);
	cursor: pointer;
}

.grad-text {
	background-image: linear-gradient(
		105deg,
		rgba(91, 104, 235, 1) 0%,
		rgba(40, 225, 253, 1) 100%
	);
	background-size: cover;
	background-clip: text;
	color: transparent;
}

@media screen and (min-width: 1024px) {
	.grad-text {
		color: #fff;
	}
	
}

@media screen and (min-width: 2560px) {
	.fixed .nav__logo2{
		display: none;
	}
	.fixed .nav__logo{
		display: flex;
	}
	.nav__logo{
		display: none;
	}
	.nav__logo2{
		display: flex;
	}
	.nav__links a{
		color: white;
	}
	.fixed .nav__links a{
		color: black;
	}
}
